{
    "parser": "@typescript-eslint/parser",
    "env": {
        "es6": true,
        "node": true,
        "mocha": true,
        "browser": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "allowImportExportEverywhere": true
    },
    "rules": {
        "no-inner-declarations": "off",
        "no-console": "warn",
        "no-unused-vars": "warn",
        "no-global-assign": "warn",
        "require-atomic-updates": "off",
        "no-prototype-builtins": "off",
        "no-extra-semi": "error",
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single",
            {
                "allowTemplateLiterals": true
            }
        ],
        "semi": [
            "error",
            "never"
        ],
        "brace-style": [
            1,
            "1tbs",
            {
                "allowSingleLine": true
            }
        ],
        "@typescript-eslint/indent": [
            "warn",
            4
        ],
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/no-unused-vars": 1,
        "@typescript-eslint/no-empty-function": 1,
        "@typescript-eslint/triple-slash-reference": 0,
        "@typescript-eslint/ban-types": 0
    }
}